.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40rem;
  align-items: center
}

table td {
  border: 1px solid grey;
  width: 100px;
  height: 100px;
}